### PRICE PREDICTION BASED ON AREA, BEDROOMS, AGE

In [5]:
#importing libraries  
import numpy as np 
import matplotlib.pyplot as plt  
import pandas as pd

In [6]:
#importing datasets  
df = pd.read_csv('homeprices.csv')  
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [7]:
df.shape

(6, 4)

##### Replacing the null values with mean

In [8]:
mean_bedrooms = df['bedrooms'].mean()

In [9]:
mean_bedrooms = round(mean_bedrooms)

In [10]:
mean_bedrooms

4

In [11]:
df['bedrooms'].fillna(mean_bedrooms,inplace=True)

In [12]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [14]:
#fitting the data
regressor.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [15]:
regressor.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [16]:
regressor.intercept_

221323.0018654043

### Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

In [17]:
#predicting the price based onl area, bedrooms, age
regressor.predict([[3000, 3, 40]])

array([498408.25158031])

In [19]:
regressor.score(df.drop('price',axis='columns'),df.price)

0.9550196399325819